*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #000000;
    color: #FCFCFC;
    font-family: 'Poppins';
}

header{
    height: 100vh;
    background-image:url("../Images/Home-background.png");
    background-size: cover;
    background-position: center;
}
/* START OF Navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 10% 0;
}

.gym-name{
    font-weight: 700;
    font-size:24px;
    text-transform: uppercase;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}

nav ul li a{
    color:#FCFCFC;
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.gym-logo{
    display: flex;
    align-items: center;
}

.logo-image{
    width: 40px;
    height: auto;
    padding-bottom: 13px;
}

.social-media{
    color:#FCFCFC;
    font-size: 24px;
}

.fa-brands{
    padding-right: 10px;
}

nav ul li:hover{
    text-decoration: 2px underline #55C5E9;
    transition: 3s;
}

.fa-brands:hover{
    color:#55C5E9;
    transition: 3s;
}
/* ----END OF Navbar */

/* START OF Home Page */
h1{
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 80px;
    letter-spacing: -0.06em;
    text-transform: uppercase;

}

.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}   
.today-text{
    color:#55C5E9;
}

.join-info{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: -40px;
    padding-bottom: 2%;
}
.btn-join{
    font-family: poppins;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #55C5E9;
    border: 2px solid #55C5E9;
    border-radius: 8px;
    width:150px;
    height: 50px;
}
/* END OF MID HOME PAGE */

/* START OF THE PARTNERS/ SPONSERS */
.sponsers{
    display:flex;
    align-items:center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    margin-top: 150px;
    
}

.sponsers img{
    height: 140px;
}

.rouge-image{
    height: 1px;
    width: 150.54px;
}

/* END OF PARTNERS /SPONSERS */

/* main */

/* About us */
.About-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 160px 140px 156px 140px ;

}

.about-info{
    width: 544px;
    height: 336px;
    margin-top:10px;

}

.image1{
    width: 485px;
    height: 515px;
    border-radius: 8px;
    margin-left: 91px;
}

.About-us p{
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(252, 252, 252, 0.8);
    margin-bottom:30px;
}

.About-us h3{
font-family: 'Poppins';
font-weight: 500;
font-size: 54px;
line-height: 81px;

letter-spacing: -0.04em;
text-transform: uppercase;
color: #FCFCFC;
margin:0;
padding:0;
}

.About-us h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
padding: 0;
margin: 0;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #55C5E9;
}

.fa-right-long{
    color: #55C5E9;
    padding-left: 5px;
    font-size: 10px;
}

.about-info a{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color:#FCFCFC;
}   

.about-info a:hover{
    color:#55C5E9;
    transition: 3s;
}

.fa-right-long:hover{
    font-size:15px;
}

/* ABOUT US END */

/* WHY CHOOSE US START */

.Why-us{
    margin-left:140px;
    padding-bottom: 156px;
}

.reasons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:72px;
    margin: 0;
    padding: 0;

}

.textbox{
    width: 408px;
    height: 168px;
    margin-bottom: 20px;
    padding: 0;
}

.fa-dumbbell{
    font-size: 40px;
    transform: rotate(145deg);
    margin-right:50px;
    margin-bottom :160px;
    color: #55C5E9;
    
}
.reason{
    display:flex;
    
    margin: 0;
    padding: 0;
    height: 200px;
    width: 500px;

}

.Why-us h3{
    font-weight: 500;
    font-size: 54px;
    line-height: 81px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin: 0;
padding-bottom: 50px;
}

.Why-us h4{
    font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #55C5E9;
margin: 0;
padding: 0;
}

.Why-us h5{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    padding: 0;
    margin: 0;
}

.Why-us p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(252, 252, 252, 0.8);
}