*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #000000;
    color: #FCFCFC;
    font-family: 'Poppins';
}

h1{
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    line-height: 80px;
    letter-spacing: -0.06em;
    text-transform: uppercase;

}

h3{
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 81px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    margin: 0;
    padding: 0;
}

h4{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #55C5E9;
    margin: 0;
    padding: 0;
}



header{
    height: 100vh;
    background-image:url("../Images/Home-background.png");
    background-size: cover;
    background-position: center;
}
/* START OF Navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 10% 0;
}

.gym-name{
    font-weight: 700;
    font-size:24px;
    text-transform: uppercase;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}

nav ul li a{
    color:#FCFCFC;
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.gym-logo{
    display: flex;
    align-items: center;
}

.logo-image{
    width: 40px;
    height: auto;
    padding-bottom: 13px;
}

nav .toggle-btn{
    display: none;
    cursor: pointer;
    font-size:25px
}

.social-media{
    color:#FCFCFC;
    font-size: 24px;
}

.fa-brands{
    padding-right: 10px;
}

nav ul li:hover{
    text-decoration: 2px underline #55C5E9;
    transition: 3s;
}

.fa-brands:hover{
    color:#55C5E9;
    transition: 3s;
}
/* ----END OF Navbar */

/* START OF Home Page */


.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}   
.today-text{
    color:#55C5E9;
}

.join-info{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: -40px;
    padding-bottom: 2%;
}
.btn-join{
    font-family: poppins;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: #55C5E9;
    border: 2px solid #55C5E9;
    border-radius: 8px;
    width:150px;
    height: 50px;
}
/* END OF MID HOME PAGE */

/* START OF THE PARTNERS/ SPONSERS */
.sponsers{
    display:flex;
    align-items:center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    margin-top: 150px;
    
}

.sponsers img{
    height: 140px;
}

.rouge-image{
    height: 1px;
    width: 150.54px;
}

/* END OF PARTNERS /SPONSERS */

/* main */

/* About us */
.About-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:160px 140px 156px;

}

.about-info{
    width: 544px;
    height: 336px;
    margin-top:10px;

}

.about-image{
    width: 485px;
    height: 515px;
    border-radius: 8px;
    margin-left: 91px;
}

.about-image img{
    width: 100%;
    margin-left: 100px;
}

.About-us p{
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(252, 252, 252, 0.8);
    margin-bottom:30px;
}

.fa-right-long{
    color: #55C5E9;
    padding-left: 10px;
    font-size: 15px;
}
.learn-more-link{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color:#FCFCFC;
}  

.about-info a:hover{
    color:#55C5E9;
    transition: 3s;
}

.fa-right-long:hover{
    font-size:20px;
}

/* ABOUT US END */

/* WHY CHOOSE US START */

.Why-us{
    margin:0 140px 156px;
}

.reasons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:72px;
    margin: 0;
    padding: 0;

}

.textbox{
    width: 408px;
    height: 168px;
    margin-bottom: 20px;
    padding: 0;
}

.fa-dumbbell{
    font-size: 40px;
    transform: rotate(145deg);
    margin-right:50px;
    margin-bottom :160px;
    color: #55C5E9;
    
}

.reason-icon{
    font-size: 40px;
    margin-right:50px;
    margin-bottom :160px;
    color: #55C5E9;
}
.reason{
    display:flex;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 500px;

}

.Why-us h3{
    text-align: center;
    padding-bottom: 50px;
}
.Why-us h4{
    text-align: center;
}
.Why-us h5{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    padding: 0;
    margin: 0;
}

.Why-us p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(252, 252, 252, 0.8);
}

/* Why us End  */

/*Pricing Start  */

.pricing{
    margin:0 140px 156px;
}
.pricing h3{
    padding:0 0 48px 0 ;
    text-align: center;
}

.pricing h4{
    text-align: center;
}
.price-row{
    width:90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 72px;
}

.price-col{
    color: #FCFCFC;
    padding: 10% 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
}

.price-col p{
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
    margin: 0;
    padding: 32px 0 0;
}

.price-col h5{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    padding: 0;
    margin: 0;
}

.price-col span{
    color: rgba(255, 255, 255, 0.1);
    font-size:16px
}

.price-col ul li{
    list-style-type:none;
    text-align: left;
    margin: 18px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FCFCFC;
    
}

.fa-circle-check{
    color:#55C5E9;
    margin-right: 10px;

}

.basic{
    width: 352px;
    height: 526px;
}

.plus{
    width: 352px;
    height: 550px;
    background: #26ADD9;
    border-radius: 8px;
    transform: scale(1.1);
    margin-bottom: 140px;
}

.btn-buyOnline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    gap: 10px;
    width: 288px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #FCFCFC;
}

.plus .btn-buyOnline{
    padding: 12px 10px;
    margin: 50px auto 0;
}

.basic .btn-buyOnline{
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.1);
    margin: 90px auto 0;
    color: #FCFCFC;
}

.basic .btn-basic{
    border-radius: 8px;
    border: 2px solid #FCFCFC;
    margin: 140px auto 0;
    
}

/* PRICING END HERE */

/* GALLERY START HERE */
#gallery{
    margin:0 140px 156px;
}

#gallery h3{
    padding-bottom: 38px;
}

#gallery img{
    width: 100%;
    border-radius: 8px;
}

.galley-photo{
    width: 390px;
    height: 300px;
}

.gallery-photos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.more-info-link a{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FCFCFC;
}
.more-info-link{
    text-align: right;
    margin-right: 45px;
}

/* GALLERY  END/

/* TRAINER */
#trainers{
    margin:0 140px 156px;
}

#trainers h3{
    margin-bottom: 48px;
}

.trainer{
    display: flex;
    flex-direction: column;
    width: 300px;

}


.trainers-info{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.trainer-textbox h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.trainer-textbox p{
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: rgba(252, 252, 252, 0.8);
}

.trainer-photo{
    width: 285px;
}

.trainer-photo img{
    width:100%;
}

#trainers a{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FCFCFC;
    text-decoration: none;
}

/* trainers end */

/* contact us start */
#contact-us{
    margin:0 140px 104px;
    width: 1270px;
    height: 600px;
    background: rgba(252, 252, 252, 0.1);
    border-radius: 16px;
}
address{
    display: inline-block;
}

#contact-us h3{
    font-size: 32px;
    line-height: 32px;
    margin: 20px 0;
}

#contact-us p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(252, 252, 252, 0.8);
    padding-bottom: 15px;
}

#contact-us a{
    color:#FCFCFC;
    text-decoration: none;
}

.contact-detials{
    display: flex;
    margin: 48px auto;
    padding-top: 48px;
    gap:130px;
    width:1074px;
}

.contact-textbox{
    width: 408px;
    height: 84px;
}

.basmap-image{
    width: 530px;
}

.basmap-image img{
    width:100%;
}

.contact-detials ul li{
    list-style-type: none;
    margin-bottom: 20px;

}

.contact-icon{
    color: #FCFCFC;
    margin-right: 10px;
    margin-left: -40px;
}



.questions-link{
    margin-top: 80px;
}

/* contact end here */
/* --------------------------Main----------------------------------- */

/* -------------------------Footer---------------------------------- */
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:94.67px;
}

.footer-info ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

footer a{
    color:#FCFCFC;
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center; 
    font-weight: 700;
    color: hsl(228, 45%, 44%);
}

/* footer end */